 <footer>
   <section>
     <h1>
       <a href="/"><%=locals.configData ? locals.configData.webname : '' %></a>
      </h1></section>

      <div class="flexbox-container">
        <address>
          <a
            target="_blank"
            href="https://www.google.com/maps?q=<%= locals.configData ? locals.configData.address.street : '' %>, 
            <%=locals.configData ? locals.configData.address.postal : '' %>, 
            <%=locals.configData ? locals.configData.address.city : '' %>, <%=locals.configData ? locals.configData.address.country : '' %>">
            <p> <%=locals.configData ? locals.configData.address.street : '' %></p>
            <p><%=locals.configData ? locals.configData.address.postal : '' %> <%=locals.configData ? locals.configData.address.city : ''%></p>
            <p><%=locals.configData ? locals.configData.address.country : ''%></p>
          </a>
        </address>
   </section>
       <section class="child-2">
         </section>
         <section>
         <div class="child-3">
           <p><a href="tel:<%=locals.configData ? locals.configData.phone : '' %>"><%=locals.configData ? locals.configData.phone : ''%></a></p>
           <p><a href="mailto:<%=locals.configData ? locals.configData.email : '' %>"><%=locals.configData ? locals.configData.email : ''%></a></p>
         <p><a href="<%=locals.configData ? locals.configData.social.facebook : '' %>">Facebook</a></p>
           <p><a href="<%=locals.configData ? locals.configData.social.instagram : ''%>">Instagram</a></p>
         </div>
        </section>
  </div>
  <div>
<hr>
    <a class="bnt-" id="developer-ref" href="https://de.linkedin.com/in/josemanuelmontanomengual697745171">Developed with &hearts; by j3 </a>
  </div>
    </footer>
</body>
</html>