 <footer>
   <section>
   <h1>
         <a href="/"><%=locals.configData.webname%></a>
       </h1>
         <a href="https://de.linkedin.com/in/josemanuelmontanomengual697745171">Developed with &hearts; by <span id="reference-link">j3</span> </a>
  </section>
      <section>
        <address>
          <a
            target="_blank"
            href="https://www.google.com/maps?q=<%= locals.configData.address.street %>, 
            <%= locals.configData.address.postal %>, 
            <%= locals.configData.address.city %>, <%= locals.configData.address.country %>">
            <p> <%=locals.configData.address.street%></p>
            <p><%=locals.configData.address.postal%> <%=locals.configData.address.city%></p>
            <p><%=locals.configData.address.country%></p>
          </a>
        </address>
        <div>
          <p><a href="tel:<%=locals.configData.phone%>"><%= locals.configData.phone%></a></p>
          <p><a href="mailto:<%= locals.configData.email%>"><%=locals.configData.email%></a></p>
        </div>
      </section>
      <div>
        <nav>
          <p><a href="">Menu</a></p>
          <p><a href="/customer/account">My Account</a></p>
          <p><a href="<%=locals.configData.social.facebook%>">Facebook</a></p>
          <p><a href="<%=locals.configData.social.instagram%>">Instagram</a></p>
        </nav>
      </div>
    </footer>
</body>
</html>