<article>
  <h3><%= item.product.name %></h3>
  <div class="cart-item-info">
    <label for="quantity">Quantity</label>
    <form
      class="cart-item-management"
      data-productid="<%= item.product.id %>"
      data-csrf="<%= locals.csrfToken %>"
    >
      <input
        type="number"
        id="quantity"
        value="<%= item.quantity %>"
        min="<%=item.product.minQuantity %>"
        step="1"
        required
      />
      <button class="btn">Update</button>
      <a
        class="btn alt delete-button"
        data-productid="<%= item.product.id %>"
        data-csrf="<%= locals.csrfToken %>"
        >Delete</a
      >
    </form>
  </div>
  <p>
    <span class="cart-item-price"> <%= item.totalPrice.toFixed(2) %> </span>
    &euro;<span>(<%= item.product.price %> &euro; per ud.)</span>
  </p>
  <hr>
</article>
