<article class="product-item">
  <div>
    <h4><%= product.name %></h4>
    <img crossorigin="anonymous" src="https://res.cloudinary.com/dfupfbnez/image/upload/v1683815113/ingrid-chef-webpage/sopa-pescado_cpxh3s.jpg" alt="">
    <p class="description"><%= product.description %></p>
    <p class="allergens">Allergens: Eggs, Dairy, Nuts.</p>
    <% if(product.minQuantity) { %>
    <p>Min. <%= product.minQuantity %> uds.</p>
    <% } %>
    <p>Min. 3 uds.</p>
    <div>
    <p class="price"><%= product.price %> &euro; <span class="price-span">per u.</span> </p>
    <button class="btn" id="product-item-button" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Add to cart</button>
  </div>
</article>
