<article class="product-item">
  <div>
    <h4><%= product.name %></h4>
    <% if(product.imageUrl) {%>
      <a target="_blank" href="<%=product.imageUrl %>"> <img crossorigin="anonymous" src="<%=product.imageUrl %>" alt="product-image" /> </a>
    <%}%>
    <p class="description"><%= product.description %></p>
    <p class="allergens">Allergens: Eggs, Dairy, Nuts.</p>
    <% if(product.minQuantity) { %>
    <p>Min. <%= product.minQuantity %> uds.</p>
    <% } %>
    <div>
    <p class="price"><%= product.price %> &euro; <span class="price-span">per u.</span> </p>
    <form class="add-item-form">
      <input type="hidden" name="productId" value="<%= product.id %>">
      <input type="hidden" name= "csrf" value="<%= locals.csrfToken %>">
      <label for="quantity">Quantity</label>
      <input type="number" name= "quantity" id="quantity" min="<%=product.minQuantity%>" placeholder="0">
    <button class="btn">Add to cart</button>
  </form>
  </div>
</article>
