<section>
       <form action="/admin/schedule" method="POST">
      
      <h4>Holidays</h4>
      <p>
          <h5>Add a new holiday</h5>
          <label for="start">Day starts at: </label>
          <input type="time" id="start" name = "startingTime"
          value="<%= schedule && schedule.clockIn ? schedule.clockIn : '' %>">
        
           <label for="finish">Day finishes at: </label>
          <input type="time" id="finish" name = "finishingTime"
          value="<%= schedule && schedule.clockOut ? schedule.clockOut : '' %>">
        </p>
        <button>Submit holiday</button>
      
    </form>
    <% if (schedule && shedule.holidays){ %>

        <ul>
            <% for (const holiday of schedule.holidays) { %>
                <p>Holiday from: <%= holiday.from %>, until <%= holiday.to %></p>
                <button data-holidayId = <%= holiday.holidayId %>>Delete holiday</button>
    
            <% } %>
        </ul>

    <% } %>
     </section>