<section>
       <form action="/admin/schedule" method="POST">
       <input type="hidden" name="_csrf" value="<%= locals.csrfToken%>" />
        <p>
      <h4>Working Schedule</h4>
      <p>
          <h5>Working hours</h5>
          <label for="clockIn">Day starts at: </label>
          <input required type="time" id="clockIn" name = "clockIn"
          value="<%= schedule && schedule.clockIn ? schedule.clockIn : '' %>">
        
           <label for="clockOut">Day finishes at: </label>
          <input required type="time" id="clockOut" name = "clockOut"
          value="<%= schedule && schedule.clockOut ? schedule.clockOut : '' %>">
        </p>
      <p>
        <h5>Workdays</h5>
        <div class="flexbox-container">
          <label for="monday">Monday</label>
          <input type="checkbox" id="monday" name="monday"
          <%= schedule && schedule.workingDays[0] ? 'checked' : '' %>>
          <label for="tuesday">Tuesday</label>
          <input type="checkbox" id="tuesday" name="tuesday"
          <%= schedule && schedule.workingDays[1] ? 'checked' : '' %>>
        <label for="wednesday">Wednesday</label>
          <input type="checkbox" id="wednesday" name="wednesday"
          <%= schedule && schedule.workingDays[2] ? 'checked' : '' %>>
        <label for="thursday">Thursday</label>
          <input type="checkbox" id="thursday" name="thursday"
           <%= schedule && schedule.workingDays[3]  ? 'checked' : '' %>>
        <label for="friday">Friday</label>
          <input type="checkbox" id="friday" name="friday"
          <%= schedule && schedule.workingDays[4]? 'checked' : '' %>>
        <label for="saturday">Saturday</label>
          <input type="checkbox" id="saturday" name="saturday"
          <%= schedule && schedule.workingDays[5] ? 'checked' : '' %>>
        <label for="sunday">Sunday</label>
          <input type="checkbox" id="sunday" name="sunday"
          <%= schedule && schedule.workingDays[6]? 'checked' : '' %>>
        </div>
      </p>
      <button>Save schedule</button>
        </form>
     </section>