<%- include("../../shared/head", {pageTitle: "Admin account"}) %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/sort-nav.css">
<link rel="stylesheet" href="/css/admin/work-schedule.css">
</head>
<body>
    <%- include("../../shared/header") %>
<main>

<%- include("includes/sort-nav", {urlPath:'schedule'}) %>

<%- include("includes/schedule-form", {schedule: schedule})%>

<%- include("includes/holidays-form", {schedule: schedule})%>

</main>
<%- include("../../shared/footer") %>
