<li class="order-li">
  <article>
    <div>
      <h3>Order Information</h3>
      <div>
        <h4>Order placed for: <span><%= order.deliveryDate %></span></h4>
        <p>
          <% for(let i=0; i<order.productData.items.length; i++) { %>
          <%= order.productData.items[i].quantity %> <%= order.productData.items[i].product.name %>
          <% if(i === order.productData.items.length - 1) { %>
           .
          <% } else { %>
              ,
           <% } %>
        <% } %>
        </p>
       <div class="flexbox-container"><p>Status: <%= order.status %>.</p>
      <p>Delivery address: <span><% if(order.pickup){ %> Pick up at:
      <%= order.pickupAddress %> 
    <% } else { %>
    No. %>
  <% } %></span></p> </div>
  <div class="flexbox-container">
    <div>
      <p>Order ref: <%=order.id%></p>
      <h4 class="bottom-h4">Total amount: <%= order.productData.totalPrice %> &euro;</h4>
    </div>
    <% if(order.status === "fulfilled") { %>
      <button class="button" class="comment-button">Share your experience!</button>
      <% } else if (order.status === "cancelled") {%>
        <% } else { %>
      <button class="delete-button" data-orderid="<%=order.id%>">Cancel Order</button>
      <button class="confirm-delete-button" data-orderid="<%=order.id%>">Click again for canceling your order</button>
      <% } %>
    </div>
      <hr>
  </article>
</li>
