<form action="/signup" method="POST" id="signup-form">
  <input type="hidden" name="_csrf" value="<%= locals.csrfToken%>" />
  <p>
    <label for="signup-email">E-mail</label>
    <input type="email" name="email" id="signup-email" <% if (inputData.errorMessage) { %> value="<%= inputData.email %>" <% } %> required />
  </p>
  <p>
    <label for="confirm-email">Confirm Email</label>
    <input
      type="email"
      name="confirm-email"
      id="confirm-email"
      <% if (inputData.errorMessage) { %> value="<%= inputData.confirmEmail %>" <% } %>
      required
       />
  </p>
  <p>
    <label for="signup-password">Password</label>
    <input
      type="password"
      name="password"
      id="signup-password"
      <% if (inputData.errorMessage) { %> value="<%= inputData.password %>" <% } %>
      required
      minlength="8"
     />
  </p>
  <p>
    <label for="confirm-password">Confirm Password</label>
    <input
      type="password"
      name="confirm-password"
      id="confirm-password"
      <% if (inputData.errorMessage) { %> value="<%= inputData.confirmPassword %>" <% } %>
      required
      minlength="8"
     />
  </p>
  <button class="btn">Submit</button>
</form>
