<%- include("../../shared/head", {pageTitle: "Cart"}) %>
<link rel="stylesheet" href="/css/cart.css">
<script src="/scripts/cart-update.js" defer></script>
</head>
<body>
    <%- include("../../shared/header") %>
<main>
    <h3>Your cart</h3>
     <ul id="cart-items">
        <% for (const cartItem of locals.cart.items){ %>
        <li class="cart-item"><%- include("includes/cart-item", {item: cartItem}) %></li>
        <% } %>
    </ul>
     <div id="cart-total"> Total: <span id="cart-total-price"><%= locals.cart.totalPrice %></span> &euro; </div>
     <button class="button">Make order</button>
</main>
<%- include("../../shared/footer") %>

