<%- include("../../shared/head", {pageTitle: "Cart"}) %>
<link rel="stylesheet" href="/css/cart.css">
<script src="/scripts/cart-update.js" defer></script>
</head>
<body>
    <%- include("../../shared/header") %>
<main>
    <section>  
<h2>Your cart</h2>
     <ul id="cart-items">
        <% for (const cartItem of locals.cart.items){ %>
        <li class="cart-item"><%- include("includes/cart-item", {item: cartItem}) %></li>
        <% } %>
    </ul>
     <div id="cart-total"> Total: <span id="cart-total-price"><%= locals.cart.totalPrice %></span> &euro; </div>
     
     <% if(!locals.isAuth){ %>
        <p id="disclaimer">You must  <a href="/auth"> log in  or create an account </a> to make an order </p>
     <% } else if (locals.cart.totalPrice) { %>
        <h4> <button class="button"><a href="/orders/checkout">To checkout</a></button> </h4>
     <% } else { %>
        <p id="disclaimer">Your cart is empty, <a href="/menu"> check our Menu </a>to make an order </p>
        <% } %>
     </section>

</main>
<%- include("../../shared/footer") %>

