<%- include("../../shared/head", {pageTitle: "Checkout"}) %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/confetti.css">
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/checkout.css">

<!-- Flatpickr and calendar config -->
<script defer src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script defer src="/scripts/flatpickr.js"></script>
</head>
<body>
    <%- include("../../shared/header") %>
<main>
<% if (inputData.errorMessage) { %>
  <section class="alert">
    <p><%= inputData.errorMessage %></p>
  </section>
  <% } %>
     <section>
      <h2>Checkout</h2>
      <h3> <p>Total order price: <span><%= locals.cart.totalPrice %></span> &euro;</p></h3>
      <hr>
        <h4>Your delivery data</h4>
        <form action="/orders" method="POST">
      <p>
        <label for="fullname">Your Name</label>
        <input
          type="text"
          name="fullname"
          id="fullname"
          value="<%= inputData.errorMessage ? inputData.name : user.name %>"
          required
        />
      </p>
      <p>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          value="<%= inputData.errorMessage ? inputData.email : user.email %>"
          required
        />
      </p>
      <p>
        <label for="phone">Contact Phone</label>
        <input
          type="tel"
          name="phone"
          id="phone"
          value="<%= inputData.errorMessage ? inputData.phone : user.phone %>"
          required
        />
      </p>
      <% if (locals.configData && locals.configData.pickup === 'only') { %>
        <section id="only-pickup">
          <h4>Pickup Address:</h4>
          <p>
            <%= locals.configData.pickupMessage %>
          </p> 
          <a
            target="_blank"
            href="https://www.google.com/maps?q=<%= locals.configData ? locals.configData.pickupAddress.pickupStreet : '' %>, 
            <%= locals.configData ? locals.configData.pickupAddress.pickupPostal : '' %>, 
            <%= locals.configData ? locals.configData.pickupAddress.pickupCity : '' %>, <%=locals.configData ? locals.configData.pickupAddress.pickupCountry : ''%>">
            <li><%= locals.configData.pickupAddress ? locals.configData.pickupAddress.pickupStreet : ''%></li>
            <li><%= locals.configData.pickupAddress ? locals.configData.pickupAddress.pickupPostal: ''%>,
             <%= locals.configData.pickupAddress ? locals.configData.pickupAddress.pickupCity: ''%></li>
            <li><%= locals.configData.pickupAddress ? locals.configData.pickupAddress.pickupCountry: '' %></li>
          </a>
        <ol>
        </ol>
        </section>
      
        <% } else { %>
        <p>
          <label for="street">Delivery Address</label>
          <input
            type="text"
            name="street"
            id="street"
           value="<%= inputData.errorMessage ? inputData.street : user.address.street %>"
            required
          />
        </p>
        <p>
          <label for="PLZ">PLZ</label>
          <input
            type="number"
            name="postal"
            id="postal"
            minlength="5"
            maxlength="5"
            value="<%= inputData.errorMessage ? inputData.postal : user.address.postal %>"
            required
          />
        </p>
        <p>
          <label for="city">City</label>
          <input
            type="text"
            name="city"
            id="city"
           value="<%= inputData.errorMessage ? inputData.city : user.address.city %>"
            required
          />
        </p>
        <p>
          <label for="country">Country</label>
          <input
            type="text"
            name="country"
            id="contry"
            value="<%= inputData.errorMessage ? inputData.country : user.address.country %>"
            required
          />
        </p>

        <% if (locals.configData && locals.configData.pickup === 'active') { %> 
          <p id="pickup-section">
            <label for="pickup">Check the box below if you prefer to pick up your package at:
              <br> <a
            target="_blank"
            href="https://www.google.com/maps?q=<%= locals.configData ? locals.configData.pickupAddress.pickupStreet : '' %>, 
            <%= locals.configData ? locals.configData.pickupAddress.pickupPostal : '' %>, 
            <%= locals.configData ? locals.configData.pickupAddress.pickupCity : '' %>, <%=locals.configData ? locals.configData.pickupAddress.pickupCountry : ''%>">
            <li><%= locals.configData.pickupAddress ? locals.configData.pickupAddress.pickupStreet : ''%></li>
            <li><%= locals.configData.pickupAddress ? locals.configData.pickupAddress.pickupPostal: ''%>,
             <%= locals.configData.pickupAddress ? locals.configData.pickupAddress.pickupCity: ''%></li>
            <li><%= locals.configData.pickupAddress ? locals.configData.pickupAddress.pickupCountry: '' %></li>
          </a>
              </label>
           <input type="checkbox" name="pickup" id="pickup" />
          <% } %>
      <%}%>

      <% if (saveData){ %> 
        <p>
          <label for="saveData">Do you wanna save your data for future orders?</label>
          <input type="checkbox" name="saveData" id="saveData">
        </p>
      <%} %>
<hr>
      <p id="calendar-container">
        <label for="deliveryDate">Delivery date</label>
        <input
          type="text"
          name="deliveryDate"
          id="deliveryDate"
          <% if (inputData.errorMessage) { %> value="<%= inputData.deliveryDate %>" <% } %>
          required
        />
      </p>

      </p>
      <p>
        <label for="request" id="request-section" >If you have any special request please write it here.</label>
       <textarea name="request" id="request" rows="5"></textarea>

      </p>
     
            <button class="button">Place order</button>
        </form>
     </section>
</main>
<%- include("../../shared/footer") %>

