<article class="product-item">
  <h4><%= product.name %></h4>
  <p><%= product.description %></p>
  <% if(product.minQuantity) { %>
  <p>Min. Quantity: <%= product.minQuantity %> ud.</p>
  <% } %>
  <p class="price"><%= product.price %> &euro;</p>
  <div class="flexbox-container">
    <a href="/admin/menu/<%= product.id %>" class="btn">View & Edit</a>
    <button
      class="btn alt"
      data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>"
    >
      Delete
    </button>
  </div>
</article>
