<article class="product-item">
  <h4><%= product.name %></h4>
  <p><%= product.description %></p>
  <% if(product.minQuantity) { %>
  <p><%= product.minQuantity %></p>
  <% } %>
  <p class="price"><%= product.price %> &euro; </p>
  <div class="flexbox-container" id="product-item-button">
    <a href="/admin/menu/<%= product.id %>" class="button">View & Edit</a>
    <button class="button" data-productid="<%= product.id%>">Delete</button>
  </div>
</article>
