<%- include('../../shared/head', {pageTitle: 'Authentication'}) %>
 <link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth/auth.css" />
<script src="/scripts/auth.js" defer></script>
</head>

<body>
<%- include('../../shared/header') %> 

<main>
  <p>
    If you dont have an account, please click to
    <span id="signup-span">Create new Account</span> button. If you already have
    an existing account, please click the
    <span id="login-span">Log in</span> one.
  </p>
  <section id="signup">
    <h2>Create new Account</h2>
    <%- include('includes/signup-form' , {inputData: inputData})%>
  </section>
  <section id="login">
    <h2>Log in</h2>
    <%- include('includes/login-form', {inputData: inputData})%>
  </section>
</main>
<%- include('../../shared/footer') %> 
