<%- include("../../shared/head", {pageTitle: "Sign Up"}) %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth/auth.css" />
<link rel="stylesheet" href="/css/auth/signup.css" /> 
<script src="/scripts/auth.js" defer></script>
</head>
<body>
    <%- include("../../shared/header") %>
<main>
  <% if (inputData.errorMessage) { %>
  <section class="alert">
    <p><%= inputData.errorMessage %></p>
  </section>
  <% } %>
   <section id="signup">
    <h2>Create new Account</h2>
    <%- include('includes/signup-form')%>
  </section>
  <section id="login">
    <h2>Log in</h2>
    <%- include('includes/login-form')%>
  </section>
</main>
<%- include("../../shared/footer") %>